.hero, .hero-text {
    min-height: 500px;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image:url('../images/default-arena.jpg');
    background-position: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    background-color: rgba(99, 99, 99, 0.534);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.hero-text-introduction, .hero-text-heading{
    font-family: 'Bebas Neue', sans-serif;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hero-text-heading {
    flex-wrap: wrap;
    text-align: center;
    font-size: 100px;
}

.hero-text-introduction {
    font-size: 50px;
    flex-wrap: wrap;
    text-align: center;
}

.column-split-layout {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80vw;
    flex-wrap: wrap;
    margin-top: 20px;
}

.top-news {
    display: flex;
    flex-basis: 0;
    border: 3px solid black;
    min-height: 300px;
    flex-wrap: wrap;
    margin-right: 30px;
}

.left-column {
    flex-grow: 3;
}

.right-column {
    flex-grow: 1;
}

.top-news>.first-rank {
    flex-grow: 3;
    border:2px solid black;
    min-width: 500px;
    min-height: 200px;
}

.second-rank-stack {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.second-rank-first, .second-rank-second {
    border:2px solid black;
    min-width: 250px;
    min-height: 150px;
}

.second-rank-first {
    flex-grow: 1;
}

.second-rank-second {
    flex-grow: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}