.hero-image {
    display: flex;
    flex-grow: 1;
    background-image:url('../images/default-arena.jpg');
    height: 100%;
    background-position: center;
}

.hero-text {
    display: flex;
    flex-grow: 1;
    background-color: rgba(99, 99, 99, 0.534);
    color: white;
    justify-content: center;
    align-items: center;
}

.hero-text-heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}