.hero, .hero-text {
    min-height: 500px;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image:url('../images/default-arena.jpg');
    background-position: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    background-color: rgba(99, 99, 99, 0.534);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.hero-text-introduction, .hero-text-heading{
    font-family: 'Bebas Neue', sans-serif;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hero-text-heading {
    flex-wrap: wrap;
    text-align: center;
    font-size: 100px;
}

.hero-text-introduction {
    font-size: 50px;
    flex-wrap: wrap;
    text-align: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}