@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    background-color: #333333;
}

.nav-container, .bottom-footer {
    background-color: #1a1a1a
}

.main-container {
    min-height: 100vh;
}

.top-nav, .bottom-footer {
    font-family: 'Bebas Neue', sans-serif;
    height: 60px;
}

.top-nav {
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}

.nav-links {
    justify-self: flex-end;
}

.nav-links a, .bottom-footer a {
    color: white;
    text-decoration: none;   
    padding: 5px; 
}


.nav-links> a {
    font-size: 25px;
    color: white
}

.nav-logo {
    color: white;
    font-size: 40px;
}

.nav-links > .active{
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 4px;
}

.top-nav a:hover, .bottom-footer a:hover{
    color: purple;
}


.bottom-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}