@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    background-color: #333333;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-nav, .bottom-footer {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #1a1a1a
}

.top-nav {
    min-height: 50px;
    display: flex;
    align-items: center;
}

.top-nav a, .bottom-footer a {
    color: white;
    text-decoration: none;   
    padding: 5px; 
}


.top-nav > a {
    font-size: 25px;
}

.top-nav > .active{
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 4px;
}

.top-nav a:hover, .bottom-footer a:hover{
    color: purple;
}


.bottom-footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1a1a1a;
    font-size: 20px;
}